<!DOCTYPE html>
<html {{ site.language_attributes }}>

{% block head %}
  {% include "includes/head.twig" %}
{% endblock %}

<body class="{{ body_class }}">
  {# @see https://developer.wordpress.org/reference/functions/wp_body_open/ #}
  {{ function('wp_body_open') }}

  {# Skip to content link, necessary for accessibility. #}
  <a href="#content" class="skip-to-content" tabindex="0">{{ _e('Skip to content') }}</a>

  {% block header %}
    {% include "components/header.twig" %}
  {% endblock %}

  {% include "includes/svgs.twig" %}

  <main id="content" tabindex="-1">
    <div class="padding-8--desktop padding-4--mobile margin-inline-auto" style="max-width: var(--site-max-width); ">
      {% block pageBody %}
      {% endblock %}
    </div>
  </main>

  {% block footer %}
    {% include "components/footer.twig" %}
  {% endblock %}

  {{ function('wp_footer') }}

</body>

</html>
